/* 
Declaration order

1. Position
2. Box model
3. Typographic
4. Visual
5. Misc

*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #070c24;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a6cb2;
}
.container .imgBx:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 8em;
    font-weight: 800;
    color: #000;
    opacity: 0.1;
}
.container .imgBx img {
    position: relative;
    left: 0px;
    width: 26rem;
    height: 21rem;
}
.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    background-color: white;

}
.container section {
    margin: 1rem;
    width: 23%;
}
.container .details h2 {
    margin-bottom: 25px;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
}
.container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}
.container .details p {
    max-width: 85%;
    margin-left: 15%;
    margin-bottom: 35px;
    color: #333;
    font-size: 15px;
}
.container .details h3 {
    float: left;
    font-size: 2.5em;
    color: #a2a2a2;
}
.container .details button {
    margin-top: 5px;
    float: right;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #5a6cb2;
    border: none;
    cursor: pointer;
}
@media (max-width: 1080px) {
    .container {
        height: auto;
    }
    .container .imgBx {
        padding: 40px;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        text-align: center;
        /* overflow: hidden; */
    }
    .container .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .container .details {
         width: 100%;
         height: auto;
         padding: 20px;
    }
    .container .details p {
        max-width: 100%;
        margin-left: 0;
    }
}